.contactComponent {

    .contactSection {
        display: flex;
        flex-direction: column;

        &:not(:first-child) {
            margin-top: 20px;
        }

        .contactSectionTitle {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}
