.contact-component {

    .contact-header {
        font-size: 1rem;
    }

    .contact-section {
        display: flex;
        flex-direction: column;

        &:not(:first-child) {
            margin-top: 20px;
        }

        .contact-section-title {
            text-transform: uppercase;
            font-weight: bold;
        }

        .section-content {
            
        }
    }
}
