.educationComponent {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    .educationHeader {
        display: flex;

        .educationTitle {
            display: flex;
            font-size: 1.1rem;
            font-weight: 500;
            flex-grow: 1;
            flex-wrap: wrap;
        }
    }
    .timeFrame {
        margin-top: 5px;
    }
    .educationDetails {
        padding: 20px 0 0 20px;
    }
}
