.skillComponent {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    .skillTitle {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .skillRating {
        display: flex;
        margin-top: 10px;

        .ratingDot {
            margin: 0 2px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #d5d6d6;

            &.full {
                background-color: #373d48;
            }
        }

        &.editable {
            .rating-dot {
                cursor: pointer;
            }

            &:hover {
                .rating-dot {
                    background-color: #373d48;
                }
            }

            .ratingDot:hover {
                background-color: #373d48;

                & ~ .ratingDot {
                    background-color: #d5d6d6;
                }
            }
        }
    }
}
