.cv-page-component {
    width: 100%;
    flex-direction: column;
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
    flex: 1;
    display: flex;

    .loader-wrapper {
        display: flex;
        height: 100%;
        align-items: center;
        
        .lds-ring {
            margin: 0 auto;
        }
    }

    .content-wrapper {
        flex: 1;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 40px;

        .side-content {
            flex-grow: 1;
            border-right: 2px solid #d4d4d4;
            padding: 0 20px;
            margin: 0 20px;
        }

        .main-content {
            margin-left: 40px;
            flex-grow: 3;
            flex-basis: 350px;
            padding: 0 20px;
            margin: 0 20px;
        }
    }
}
