.textareaComponent {
    display: flex;
    flex-direction: row;

    textarea {
        border: none;
        font: inherit;
        color: inherit;
        flex: 1;
        resize: none;
        height: 5px;

        &:focus-visible {
            border: none;
            outline: none;
        }
    }

    &.resizeable {
        resize: initial;
    }

    .textareaValue {
        white-space: pre-line;

        &.placeholder {
            color: gray;
        }
    }
}
